#container{
   font-family: Arial, sans-serif;
   text-align: center;
   font-size: 2rem;
   font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius:10px;
    border: none;
    background-color: rgb(39, 101, 224);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(97, 137, 218);
}
button:active{
    background-color: rgb(140, 166, 217);
}
input{
    font-size:2rem;
    width:150px;
    text-align:center;
    font-weight:bold;
}
#diceResult{
    margin:25px;
}
#diceImages{
    width:150px;
    margin:5px;
}